@{
    ViewBag.Title = "צור קשר";
}
<div class="row">
    <div class="col-md-12" id="contact_us">
        <p>לקבלת מידע ופרטים נוספים כתוב לנו ל-</p><br />
        <address>RoofLand.il@gmail.com</address>
    </div>
</div>