@{
    ViewBag.Title = "צור קשר";
}
<div class="row">
    <div class="col-md-12" id="contact_us">
        <p>לקבלת מידע ופרטים נוספים כתוב לנו ל-</p><br />
        <address><a href="mailto:RoofLand.il@gmail.com">RoofLand.il@gmail.com</a></address>
    </div>
</div>