@{
    ViewBag.Title = "עמוד הבית";
}

    <div class="row landing_index">    
        <div class="col-md-3 col-md-offset-5">
        @Html.ActionLink("RoofLand", "Index", "Home", new { area = "" }, new { @class = "logo" })
            </div>
</div>

    <div class="row">
        <div class="col-sm-12">
            <p class="landing_slog">גגות רעפים ומה שמסביב</p>
            <br />
            <p id="site_under_construction">האתר יעלה בקרוב...</p>
        </div>
    </div>
