@{
    ViewBag.Title = "עמוד הבית";
}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 landing_index">
        @Html.ActionLink("RoofLand", "Index", "Home", new { area = "" }, new { @class = "logo" })
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="landing_slog">גגות רעפים, וכל מה שמסביב</p>
        <br />
        <p id="site_under_construction">האתר יעלה בקרוב...</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 bubblingG">
        <span id="bubblingG_1">
        </span>
        <span id="bubblingG_2">
        </span>
        <span id="bubblingG_3">
        </span>
    </div>
    <div class="col-md-4"></div>
</div>
